:root {
    --primary-color: #006A50;
    --secondary-color: #5490F5;
    --accent-color: #FFC239;
    --banner-color: #C6E4D6;
    --tertiary-color: #F7EBCF;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
}

a {
    text-decoration: none;
}